<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-subtitle> &nbsp; Like the app? Consider donating </ion-card-subtitle>
    <ion-card-content>
      <ion-button shape="round" size="small"
        (click)="openLink('https://www.paypal.com/donate?hosted_button_id=VSCKB9GVSENJQ')"> DONATE
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-subtitle> &nbsp; Have feedback? Join the Discord guild </ion-card-subtitle>
    <ion-card-content>
      <ion-button shape="round" size="small" (click)="openLink('https://discord.gg/ErHYKYAzSm')"> JOIN THE SERVER
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title> &nbsp; Development </ion-card-title>
    <ion-card-content>
      Johnny Oak
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title> &nbsp; Text Guide </ion-card-title>
    <ion-card-content>
      SBAllen
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title> &nbsp; Graphical Assets </ion-card-title>
    <ion-card-content>
      Random Talking Bush<br>
      Dary<br>
      The I Gaming
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title> &nbsp; Tiling </ion-card-title>
    <ion-card-content>
      Metroid DK
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title> &nbsp; Donators </ion-card-title>
    <ion-card-content>
      Cionraven<br>
      Wordview<br>
      Yasashi
    </ion-card-content>
  </ion-card>
</ion-content>