<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-subtitle> &nbsp; Like the app? Consider donating </ion-card-subtitle>
    <ion-card-content>
      <ion-button shape="round" size="small"
        (click)="openLink('https://www.paypal.com/donate?hosted_button_id=VSCKB9GVSENJQ')"> DONATE
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-subtitle> &nbsp; Have feedback? Join the Discord guild </ion-card-subtitle>
    <ion-card-content>
      <ion-button shape="round" size="small" (click)="openLink('https://discord.gg/ErHYKYAzSm')"> JOIN THE SERVER
      </ion-button>
    </ion-card-content>
  </ion-card>

  <span *ngFor="let entry of credits">
    <ion-card>
      <ion-card-title> &nbsp; {{entry.task}} </ion-card-title>
      <ion-card-content>
        <p *ngFor="let person of entry.people">
          {{person.name}}<span *ngIf="person.link" (click)="openLink(person.link)"> - <profile id="clickable">Profile</profile></span><br>
        </p>
      </ion-card-content>
    </ion-card>
  </span>
</ion-content>