<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ mapId }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <mat-grid-list id="tiles" cols="16" rowHeight="16:10">
      <mat-grid-tile *ngFor="let tile of tiles">
        <img id="farm" *ngIf="viewType === 'level' && tile.level" src="./assets/icons/{{tile.level}}.png" (click)="openTile(tile)">
        <img id="farm" *ngIf="viewType === 'farm' && tile.farm" src="./assets/icons/{{tile.farm[0].char}}.png" (click)="openTile(tile)">
        <img id="weapon" *ngIf="viewType === 'weapon' && tile.weapon" src="./assets/icons/{{tile.weapon}}.png" (click)="openTile(tile)">
        <img id="farm" *ngIf="viewType === 'heart' && tile.heart" src="./assets/icons/{{tile.heart}}.png" (click)="openTile(tile)">
        <img id="farm" *ngIf="viewType === 'piece' && tile.piece" src="./assets/icons/{{tile.piece}}.png" (click)="openTile(tile)">
        <img id="char" *ngIf="viewType === 'outfit' && tile.outfit" src="./assets/icons/{{tile.outfit}}.png" (click)="openTile(tile)">
        <img id="char" *ngIf="viewType === 'fairy' && tile.fairy" src="./assets/icons/{{tile.fairy}}.png" (click)="openTile(tile)">
        <img id="farm" *ngIf="viewType === 'fairyWear' && tile.fairyWear" src="./assets/icons/{{tile.fairyWear}}.png" (click)="openTile(tile)">
        <img id="farm" *ngIf="viewType === 'fairyFood' && tile.fairyFood" src="./assets/icons/{{tile.fairyFood}}.png" (click)="openTile(tile)">
        <img id="farm" *ngIf="viewType === 'skulltula' && tile.skulltula" src="./assets/icons/skulltula.png" (click)="openTile(tile)">
        <img id="tile" src="./assets/maps/{{mapId.toLowerCase()}}/tiles/{{tile.position}}.png" layout-fill
          *ngIf="tile.position" (click)="openTile(tile)">
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ion-content>