<ion-app zooming="true">
  <ion-menu contentId="main-content" type="overlay">

    <ion-content>
      <ion-list id="map-list">

        <ion-menu-toggle auto-hide="true">
          <ion-item routerDirection="root" [routerLink]="['/legend-mode']" detail="false"
            (click)="setURL('/legend-mode')">
            Legend Mode
          </ion-item>
        </ion-menu-toggle>

        <ion-item (click)="toggleMapMenu()" id="clickable">
          Adventure Mode <span class="material-icons">{{mapExpandType}}</span>
        </ion-item>

        <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
          <ion-item *ngIf="mapMenu" routerDirection="root" [routerLink]="[p.url]" detail="false"
            (click)="setURL(p.url, true)">
            &#160; {{p.title}}
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerDirection="root" [routerLink]="['/challenge-mode']" detail="false"
            (click)="setURL('/challenge-mode')">
            Challenge Mode
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="true">
          <ion-item routerDirection="root" [routerLink]="['/credits']" detail="false">
            Credits
          </ion-item>
        </ion-menu-toggle>

        <ion-item (click)="toggleDisplayMenu()" id="clickable">
          Change Display <span class="material-icons">{{displayExpandType}}</span>
        </ion-item>

        <ion-radio-group *ngIf="displayMenu" (ionChange)="radioSelect($event)" value="{{selectedDisplay}}">
          <ion-menu-toggle auto-hide="true">
            <ion-item *ngFor="let display of displayList">
              <ion-label> {{display.name}} </ion-label>
              <ion-radio slot="start" color="primary" value="{{display.value}}"></ion-radio>
            </ion-item>
          </ion-menu-toggle>
        </ion-radio-group>

        <ion-menu-toggle auto-hide="true" id="clickable">
          <ion-item>
            <i class="material-icons">close</i>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>