<ion-header>
    <ion-grid>
        <ion-row>
            <ion-col>
                <h2 mat-dialog-title>{{data.tile.blurb}}</h2>
                
            </ion-col>
            <ion-col size="1">
                <ion-button item-right color='dark' fill='clear' mat-dialog-close>
                    <i class="material-icons">close</i>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<mat-dialog-content>
    <h2 mat-dialog-title *ngIf="data.tile.rule">{{data.tile.rule}}</h2>
    <ion-grid *ngIf="data.tile.level">
        <ion-col *ngFor="let item of [].constructor(data.tile.level)">
            <img src="../../assets/icons/skelli.png">
        </ion-col>
    </ion-grid>

    <ion-grid *ngIf="data.tile.farming">

    </ion-grid>

    <ion-grid *ngIf="data.tile.search">
        <h2>Search</h2>
        <ion-row>
            <!-- <ion-col size="5">
                <img src="../../assets/maps/{{data.map}}/search/{{data.tile.position}}.png" layout-fill>
            </ion-col> -->
            <ion-col *ngFor="let item of data.tile.search" size="2">
                <img src="../../assets/icons/{{item}}.png">
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="data.tile.victory">
        <h2>Victory</h2>
        <ion-row *ngFor="let spoil of data.tile.victory">
            <ion-col size="2">
                <img src="../../assets/icons/{{spoil.loot}}.png">
            </ion-col>
            <ion-col size="2" *ngIf="spoil.char">
                <img src="../../assets/icons/{{spoil.char}}.png">
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="data.tile.rank">
        <h2>A Rank</h2>
        <ion-row>
            <ion-col size="2" *ngIf="data.tile.rank.loot">
                <img src="../../assets/icons/{{data.tile.rank.loot}}.png">
            </ion-col>
            <ion-col size="2" *ngIf="data.tile.rank.char">
                <img src="../../assets/icons/{{data.tile.rank.char}}.png">
            </ion-col>
            <ion-col>
                <p *ngIf="data.tile.rank.kos">KOs: {{data.tile.rank.kos}}</p>
                <p *ngIf="data.tile.rank.time">Minutes: {{data.tile.rank.time}}</p>
                <p *ngIf="data.tile.rank.damage">Damage: {{data.tile.rank.damage}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="data.tile.treasure">
        <h2>Chests</h2>
        <ion-row *ngFor="let spoil of data.tile.treasure">
            <ion-col size="3">
                <img src="../../assets/icons/{{spoil.loot}}.png">
            </ion-col>
            <ion-col size="3" *ngIf="spoil.char">
                <img src="../../assets/icons/{{spoil.char}}.png">
            </ion-col>
            <ion-col>
                <p>{{spoil.where}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="data.tile.pot">
        <h2>Pots</h2>
        <ion-row *ngFor="let spoil of data.tile.pot">
            <ion-col size="2">
                <img src="../../assets/icons/{{spoil.loot}}.png">
            </ion-col>
            <ion-col>
                <p>{{spoil.where}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid *ngIf="data.tile.skulltula">
        <h2>Skulltulas</h2>
        <ion-row *ngFor="let requirement of data.tile.skulltula">
            <ion-col size="1">
                <img src="../../assets/icons/skulltula.png">
            </ion-col>
            <ion-col>
                <p>{{requirement}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</mat-dialog-content>