<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="card" *ngFor="let entry of credits">
    <ion-card-title color="warning"> {{entry.task}} </ion-card-title>
    <ion-list>
      <ion-label *ngFor="let person of entry.people">
        {{person.name}}<span *ngIf="person.link" (click)="openLink(person.link)"> - <profile id="clickable">Profile
          </profile></span><br>
      </ion-label>
    </ion-list>
  </ion-card>

  <ion-card class="card">
    <ion-card-title color="warning" color="warning">
      Like the app? Consider donating:
      <ion-button class="button" shape="round" size="small" (click)="openLink(paypalURL)"> DONATE </ion-button>
    </ion-card-title>
  </ion-card>

  <ion-card class="card">
    <ion-card-title color="warning"> Have feedback? Join the Discord guild:
      <ion-button shape="round" size="small" (click)="openLink(discordURL)"> JOIN THE SERVER </ion-button>
    </ion-card-title>
  </ion-card>

</ion-content>