ion-menu-button {
  color: var(--ion-color-primary);
}

#clickable {
  color: var(--ion-color-primary);
  font-weight: bold;
  cursor: pointer;
}

.card {
  padding: 1rem;
}

.button {
  vertical-align: middle;
  width: fit-content;
}
